/* input.css：最主要的 CSS */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5,500;1,62.5,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5,700;1,62.5,700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,GRAD@8..144,0,150&display=swap');*/
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* import Daisy UI */
@import "tailwindcss" ;
@source "../*.{html,js}";
@source "../act/*.{html,js}";
@source "../components/*.{html,js}";
@source "../assets/*.{html,js}";
@source "../assets/*.{html,js}";
@plugin "daisyui" {
    themes: corporate --default, dracula --prefersdark, retro, cyberpunk, valentine, aqua, lemonade, abyss, all;
}

/* 01. 載入基本樣式 */
@import "./01-base/01-base.css";
@import "./01-base/02-fonts.css";

/* 02. 載入佈局樣式 */
@import "./02-layout/01-layout.css";
@import "./02-layout/02-home.css";

/* 03. 載入共用樣式 */
@import "./03-components/01-legal-content.css";
@import "./03-components/02-lists.css";
@import "./03-components/03-misc.css";
@import "./03-components/04-header.css";

/* 04. 載入工具類別（響應式設計） */
@import "./04-utilities/01-responsive.css";