---
import LawLayout from '../../layouts/LawLayout.astro';
import ActionButtons from '../../components/ActionButtons.astro';

const title = "國立高雄師範大學附屬高級中學學生會學生議會會議彈性運作臨時條例";
const abbr = "[廢止]議會會議彈性運作臨時條例";
const url = "https://drive.google.com/drive/folders/1kZJftdy4gfIRSfj-qp7Qw-HJDzo9x7MI" ;
---

<LawLayout title={abbr} historyUrl={url}>
    <h2 class="page-title">
        <div class="badge badge-soft badge-primary">已廢止</div>
        {title}
    </h2>
    <section class="amendment-history bg-base-200 text-base-content">
        <h3>修法歷程</h3>
        <ul>
            <li>115.02.09 學生議會制定</li>
            <li>115.07.31 期限屆滿失效</li>
        </ul>
    </section>

    <ActionButtons url={url} />

<article class="regulation-content"> <h3 id="第一章 總則">第一章 總則</h3><div class="row" id="article-1">  <span class="art">  <a href="#article-1" class="law-btn-anchor">＃</a> <p>
第1條 </p> </span>  <div class="art-data flex-1">  <p class="art-note">（依據及名稱）</p>  <div class="par only-one-par">國立高雄師範大學附屬高級中學（以下簡稱本校）學生會（以下簡稱本會）為促進本會學生議會（以下簡稱本機關）運作之彈性，提升議事運作效率，試行會議彈性運作方式，並解決因114學年度第2學期行事曆調整，導致學生議會期初常會依原法規召開有實質困難之情事特制定《國立高雄師範大學附屬高級中學學生會學生議會會議彈性運作臨時條例》（以下簡稱本條例）。</div>  </div> </div><div class="row" id="article-2">  <span class="art">  <a href="#article-2" class="law-btn-anchor">＃</a> <p>
第2條 </p> </span>  <div class="art-data flex-1">  <p class="art-note">（名詞定義）</p>  <div class="par only-one-par">本條例所稱之會議，指本機關組織及運作法（以下簡稱本法）第13條所稱之會議。</div>  </div> </div><div class="row" id="article-3">  <span class="art">  <a href="#article-3" class="law-btn-anchor">＃</a> <p>
第3條 </p> </span>  <div class="art-data flex-1">  <p class="art-note">（本條例用途）</p>  <div class="par">本條例施行期間，學生議員於會議之出席、會議之有效性與召開期限，依本條例之規定。</div><div class="par">本法與本條例牴觸者，依本條例之規定。</div>  </div> </div><h3 id="第二章 會議運作之彈性規範">第二章 會議運作之彈性規範</h3><div class="row" id="article-4">  <span class="art">  <a href="#article-4" class="law-btn-anchor">＃</a> <p>
第4條 </p> </span>  <div class="art-data flex-1">  <p class="art-note">（有效會議）</p>  <div class="par">本機關之會議方式，依下列規定辦理：</div><div class="sub"><span class="num-marker">1</span>會議須有全體學生議員三分之一以上出席，方為有效會議。</div><div class="sub"><span class="num-marker">2</span>召開會議時，如以視訊會議為之，學生議員一部或全部以視訊參與會議者，視為親自出席。</div><div class="sub"><span class="num-marker">3</span>經全體應出席學生議員同意，就當次會議議案得以書面方式行使其表決權，而不實際集會。但召開常會時，不適用本項規定。</div><div class="sub"><span class="num-marker">4</span>前款情形，視為已召開會議，並應將召開方式列入會議紀錄；以書面方式行使表決權之學生議員，視為親自出席會議。</div><div class="par">委員會開會，準用前項第2款至第4款規定。</div>  </div> </div><div class="row" id="article-5">  <span class="art">  <a href="#article-5" class="law-btn-anchor">＃</a> <p>
第5條 </p> </span>  <div class="art-data flex-1">  <p class="art-note">（常會召開期限計算基準）</p>  <div class="par">依據教育部114年6月30日臺教授國字第1145502800號函暨行政院核定115年政府行政機關辦公日曆表辦理。</div><div class="par">本機關114學年度第2學期期初常會召開期限，應以本校行事曆訂定之「寒假後上課首日」為基準起算二十一日內召開；本法第13條第1項第1款前段有關期初常會召開期限之規定，暫停適用。</div>  </div> </div><h3 id="第三章 附則">第三章 附則</h3><div class="row" id="article-6">  <span class="art">  <a href="#article-6" class="law-btn-anchor">＃</a> <p>
第6條 </p> </span>  <div class="art-data flex-1">  <p class="art-note">（施行日期與期限）</p>  <div class="par">本條例自公布日起施行，第5條規定自中華民國115年1月1日起施行；均至中華民國115年7月31日止。</div><div class="par"><span></span>第4條第2項規定，自中華民國107年8月1日起施行；其餘第4條內容自公布日施行。</div>  </div> </div><div class="row" id="article-7">  <span class="art">  <a href="#article-7" class="law-btn-anchor">＃</a> <p>
第7條 </p> </span>  <div class="art-data flex-1">  <p class="art-note">（法律保留原則）</p>  <div class="par only-one-par">本條例未盡事宜，悉依本會自治法規或本校相關規定辦理。</div>  </div> </div> </article>
</LawLayout>