<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>高師大附中學生會　自治法規共用系統</title>
    <meta property="og:title" content="高師大附中學生會自治法規共用系統 - 彙編高師大附中學生會自治法規">
    <meta property="og:description" content="高師大附中自治法規共用系統，彙編高師大附中學生會所有自治法規的展示網站，在這裡可以找到高師大附中附中的所有學生會相關規定。">
    <meta property="og:image" content="img/Preview%203.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ashssa.github.io/laws/">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=open_in_new" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 350,
            'GRAD' 0,
            'opsz' 20;
            font-size: inherit;
            line-height: inherit;
            vertical-align: middle;
            font-size-adjust: cap-height 1.1;
            translate: "no";
        }
    </style>

</head>
<body>

<!-- 定義內聯 SVG 作為網站 LOGO -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" 
    style="display: none;"> 
    <defs>
        <symbol id="LawLogo" viewBox="0 0 384 383.999986">
            <filter x="0%" y="0%" width="100%" filterUnits="objectBoundingBox" id="1f8d72515c" height="100%"><feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0" type="matrix" in="SourceGraphic"/></filter>
            <clipPath id="2fa6e1dc98"><path d="M 0.0898438 1 L 136.746094 1 L 136.746094 176.203125 L 0.0898438 176.203125 Z M 0.0898438 1 "/></clipPath>
            <clipPath id="15dce29101"><rect x="0" width="137" y="0" height="177"/></clipPath>
            <clipPath id="405311532a"><path d="M 0.644531 0.9375 L 137.300781 0.9375 L 137.300781 176.140625 L 0.644531 176.140625 Z M 0.644531 0.9375 "/></clipPath>
            <clipPath id="6db4b519a7"><rect x="0" width="138" y="0" height="177"/></clipPath>
            <clipPath id="a7019d7b73"><path d="M 60.699219 144.9375 L 235.902344 144.9375 L 235.902344 320.140625 L 60.699219 320.140625 Z M 60.699219 144.9375 "/></clipPath>
            <clipPath id="9a4d7841e9"><path d="M 148.300781 144.9375 C 99.921875 144.9375 60.699219 184.15625 60.699219 232.539062 C 60.699219 280.917969 99.921875 320.140625 148.300781 320.140625 C 196.683594 320.140625 235.902344 280.917969 235.902344 232.539062 C 235.902344 184.15625 196.683594 144.9375 148.300781 144.9375 Z M 148.300781 144.9375 "/></clipPath>
            <clipPath id="7f7c24a0d0"><path d="M 0 3 L 175.203125 3 L 175.203125 178.203125 L 0 178.203125 Z M 0 3 "/></clipPath>
            <clipPath id="6e9b137b1a"><path d="M 87.601562 3 C 39.21875 3 0 42.21875 0 90.601562 C 0 138.980469 39.21875 178.203125 87.601562 178.203125 C 135.984375 178.203125 175.203125 138.980469 175.203125 90.601562 C 175.203125 42.21875 135.984375 3 87.601562 3 Z M 87.601562 3 "/></clipPath>
            <clipPath id="e224385e57"><path d="M 0.433594 0.800781 L 250 0.800781 L 250 319 L 0.433594 319 Z M 0.433594 0.800781 "/></clipPath>
            <clipPath id="e8614bed6b"><path d="M 125.214844 0.800781 L 250 319 L 0.433594 319 Z M 125.214844 0.800781 "/></clipPath>
            <clipPath id="008b5dce81"><rect x="0" width="250" y="0" height="320"/></clipPath>
            <g id="fa7628e0c2">
                <g mask="url(#9d3f8747c0)" transform="matrix(1,0,0,1,77,2)">
                    <g clip-path="url(#15dce29101)">
                        <g clip-rule="nonzero" clip-path="url(#2fa6e1dc98)">
                            <path style=" stroke:none;fill-rule:nonzero;fill:#0082ce;fill-opacity:1;" d="M 0.0898438 1 L 136.746094 1 L 136.746094 176.089844 L 0.0898438 176.089844 Z M 0.0898438 1 "/>
                        </g>
                    </g>
                    <mask id="9d3f8747c0">
                        <g filter="url(#1f8d72515c)">
                            <rect x="0" width="384" y="0" height="383.999986" style="fill:#000000;fill-opacity:0.87;stroke:none;"/>
                        </g>
                    </mask>
                </g>
                <g mask="url(#f928c8e1c1)" transform="matrix(1,0,0,1,11,144)">
                    <g clip-path="url(#6db4b519a7)">
                        <g clip-rule="nonzero" clip-path="url(#405311532a)">
                            <path style=" stroke:none;fill-rule:nonzero;fill:#61738d;fill-opacity:1;" d="M 0.644531 0.9375 L 137.300781 0.9375 L 137.300781 176.027344 L 0.644531 176.027344 Z M 0.644531 0.9375 "/>
                        </g>
                    </g>
                    <mask id="f928c8e1c1">
                        <g filter="url(#1f8d72515c)">
                            <rect x="0" width="384" y="0" height="383.999986" style="fill:#000000;fill-opacity:0.87;stroke:none;"/>
                        </g>
                    </mask>
                </g>
                <g clip-rule="nonzero" clip-path="url(#a7019d7b73)">
                    <g clip-rule="nonzero" clip-path="url(#9a4d7841e9)">
                        <path style=" stroke:none;fill-rule:nonzero;fill:#61738d;fill-opacity:1;" d="M 60.699219 144.9375 L 235.902344 144.9375 L 235.902344 320.140625 L 60.699219 320.140625 Z M 60.699219 144.9375 "/>
                    </g>
                </g>
                <g clip-rule="nonzero" clip-path="url(#7f7c24a0d0)">
                    <g clip-rule="nonzero" clip-path="url(#6e9b137b1a)">
                        <path style=" stroke:none;fill-rule:nonzero;fill:#0082ce;fill-opacity:1;" d="M 0 3 L 175.203125 3 L 175.203125 178.203125 L 0 178.203125 Z M 0 3 "/>
                    </g>
                </g>
                <g mask="url(#51e3b118bc)" transform="matrix(1,0,0,1,134,62)">
                    <g clip-path="url(#008b5dce81)">
                        <g clip-rule="nonzero" clip-path="url(#e224385e57)">
                            <g clip-rule="nonzero" clip-path="url(#e8614bed6b)">
                                <path style=" stroke:none;fill-rule:nonzero;fill:#009689;fill-opacity:1;" d="M 0.433594 0.800781 L 250 0.800781 L 250 318.609375 L 0.433594 318.609375 Z M 0.433594 0.800781 "/>
                            </g>
                        </g>
                    </g>
                    <mask id="51e3b118bc">
                        <g filter="url(#1f8d72515c)">
                            <rect x="0" width="384" y="0" height="383.999986" style="fill:#000000;fill-opacity:0.87;stroke:none;"/>
                        </g>
                    </mask>
                </g>
            </g>
        </symbol>
    </defs>
</svg> -->

<div id="main-header">

<!-- 新版頁首 -->
<div class="fixed navbar bg-base-100/85 shadow-sm print:hidden z-30 backdrop-blur">
    <nav class="navbar w-full py-0">
        <!-- 導覽列 - 左 -->
        <div class="navbar-start">
            <!-- 回應式：小螢幕漢堡選單 -->
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden"><!-- ←這段「lg:hidden」控制回應式設計 -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
                    </div>
                    <ul
                        tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-200 rounded-box z-1 mt-3 w-52 p-2 shadow nav-list flex flex-col">
                        <li><a href="/laws/index.html" >首頁</a></li>
                        <!-- 太冗長，不合適 -->
                        <!-- 好啦還是放一下啦 -->
                        <li>
                            <details open>
                                <summary>法規總覽</summary>
                                <ul>
                                    <li><a href="/laws/act/act01.html" >組織章程</a></li>
                                    <li><a href="/laws/act/act02.html" >學生代表法</a></li>
                                    <li><a href="/laws/act/act03.html" >行政中心組織運作法</a></li>
                                    <li><a href="/laws/act/act04.html" >學生議會組織運作法</a></li>
                                    <li><a href="/laws/act/act05.html" >選舉及罷免法</a></li>
                                    <li><a href="/laws/act/act06.html" >經費法</a></li>
                                    <li><a href="/laws/act/act07.html" >自治法規標準法</a></li>
                                    <li><a href="/laws/act/act08.html" >學生政黨法</a></li>
                                    <!-- <li><a href="overview.html" >自治法規架構圖</a></li> -->
                                    <li><a href="/laws/direction/direction01.html" >學校會議旁聽要點</a></li>
                                </ul>
                            </details>
                        </li>
                        <!-- <li>
                            <a href="/laws/index.html">法規總覽</a>
                            <ul class="p-2">
                                <li><a href="/laws/act/act01.html" >組織章程</a></li>
                                <li><a href="/laws/act/act02.html" >學生代表法</a></li>
                                <li><a href="/laws/act/act03.html" >行政中心組織運作法</a></li>
                                <li><a href="/laws/act/act04.html" >學生議會組織運作法</a></li>
                                <li><a href="/laws/act/act05.html" >選舉及罷免法</a></li>
                                <li><a href="/laws/act/act06.html" >經費法</a></li>
                                <li><a href="/laws/act/act07.html" >自治法規標準法</a></li>
                                <li><a href="/laws/act/act08.html" >學生政黨法</a></li>-->
                                <!-- <li><a href="overview.html" >自治法規架構圖</a></li> -->
                                <!-- <li><a href="/laws/direction/direction01.html" >學校會議旁聽要點</a></li> -->
                            <!-- </ul> -->
                        <!-- </li> -->
                        <li><a href="https://sites.google.com/stu.nknush.kh.edu.tw/ashssa/mac" target="_blank">本會官網</a></li>
                        <li><a href="https://sites.google.com/a/stu.nknush.kh.edu.tw/ashs_sp/laws/修法沿革" target="_blank">修法沿革</a></li>
                    </ul>
                </div>
                <!-- 網站Banner（不論是否回應式） -->
                <a class="btn btn-ghost text-xl" href="/laws/index.html">
                    <!-- <span class="badge badge-secondary badge-xs">BETA</span> --><!-- 測試版 Badge -->
                    <!-- <svg class="logo-icon">
                        <use href="https://ashssa.github.io/laws/img/icon.svg"></use>
                    </svg>

                    <svg width="1.25rem" height="1.25rem">
                        <use href="#LawLogo" 
                            x="0" 
                            y="0" 
                            width="1.25rem" 
                            height="1.25rem" />
                    </svg> -->
                    <span class="lg:hidden">ASHS SA Law</span>
                    <span class="hidden lg:flex">高師大附中學生會自治法規共用系統</span>
                </a>
        </div>
        <!-- 導覽列 - 中 -->
        <div class="navbar-center hidden lg:flex"><!-- ←這段「hidden」控制回應式設計（除large尺寸之外不顯示） -->
            <ul class="menu menu-horizontal px-1">
                <li><a href="/laws/index.html" >首頁</a></li>
                <li>
                    <details>
                        <summary>法規總覽</summary>
                        <ul class="bg-base-200 rounded-field p-2 w-52 shadow nav-list"><!-- 一直想加入 backdrop-blur -->
                            <li><a href="/laws/act/act01.html" >組織章程</a></li>
                            <li><a href="/laws/act/act02.html" >學生代表法</a></li>
                            <li><a href="/laws/act/act03.html" >行政中心組織運作法</a></li>
                            <li><a href="/laws/act/act04.html" >學生議會組織運作法</a></li>
                            <li><a href="/laws/act/act05.html" >選舉及罷免法</a></li>
                            <li><a href="/laws/act/act06.html" >經費法</a></li>
                            <li><a href="/laws/act/act07.html" >自治法規標準法</a></li>
                            <li><a href="/laws/act/act08.html" >學生政黨法</a></li>
                            <!-- <li><a href="overview.html" >自治法規架構圖</a></li> -->
                            <li><a href="/laws/direction/direction01.html" >學校會議旁聽要點</a></li>
                            <!-- <li><a href="https://sites.google.com/a/stu.nknush.kh.edu.tw/ashs_sp/laws/修法沿革" target="_blank">修法沿革</a></li> -->
                        </ul>
                    </details>
                </li>
                <li><a href="https://sites.google.com/stu.nknush.kh.edu.tw/ashssa/mac" target="_blank">本會官網</a></li>
            </ul>
        </div>
        <!-- 導覽列 - 右 -->
        <div class="navbar-end relative">
            <!-- 切換主題的無用按鈕 -->
                <div class="dropdown absolute top-full -translate-y-1/2 right-0">
                    <!-- 無用按鈕本體（用div搓出來的，不是btn） --><div tabindex="0" role="button" class="btn m-2">
                        Theme
                        <svg
                            width="12px"
                            height="12px"
                            class="inline-block h-2 w-2 fill-current opacity-60"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 2048 2048">
                            <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                        </svg><!-- 下箭頭，「v」形的那個 -->
                    </div>
                    <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-1 w-auto p-2 shadow-2xl right-0 nav-list" id="themeMenu"><!-- 選單在這裡 -->
                        <li>
                            <input
                                type="radio"
                                name="theme-dropdown"
                                class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Default"
                                value="default" 
                                id="theme01"/>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="theme-dropdown"
                                class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Retro"
                                value="retro" 
                                id="theme02"/>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="theme-dropdown"
                                class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Cyberpunk"
                                value="cyberpunk" 
                                id="theme03"/>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="theme-dropdown"
                                class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Valentine"
                                value="valentine" 
                                id="theme04"/>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="theme-dropdown"
                                class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Aqua"
                                value="aqua" 
                                id="theme05"/>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="theme-dropdown"
                                class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Lemonade"
                                value="lemonade" 
                                id="theme06"/>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="theme-dropdown"
                                class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                                aria-label="Abyss"
                                value="abyss" 
                                id="theme07"/>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>
</div>

<!-- 記憶主題樣式 -->
<!-- <script>
document.addEventListener('DOMContentLoaded', () => {
    const themeRadios = document.querySelectorAll('.theme-controller');
    const localStorageKey = 'selectedTheme';
    const dropdownButton = document.querySelector('.dropdown > .btn');

    // 1. 檢查 localStorage，並自動設定上次選擇的主題
    const savedTheme = localStorage.getItem(localStorageKey);
    if (savedTheme) {
        // 尋找並勾選對應的 radio 按鈕
        const savedRadio = document.querySelector(`input[value="${savedTheme}"]`);
        if (savedRadio) {
            savedRadio.checked = true;
            // 同時更新按鈕文字
            dropdownButton.textContent = savedRadio.getAttribute('aria-label');
        }
    }

    // 2. 監聽每個 radio 按鈕的變更事件
    themeRadios.forEach(radio => {
        radio.addEventListener('change', (event) => {
            // 取得被選中的 radio 按鈕的值
            const selectedValue = event.target.value;
            const selectedLabel = event.target.getAttribute('aria-label');

            // 儲存被選中的值到 localStorage
            localStorage.setItem(localStorageKey, selectedValue);

            // 更新下拉選單按鈕的文字
            dropdownButton.textContent = selectedLabel;
        });
    });
});
</script> -->

<!-- 舊版頁首 -->
<!-- 
        <div class="banner">
            <h1><a href="index.html" >高師大附中學生會　自治法規共用系統</a></h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="index.html" >首頁</a>
                </li>
                <li>
                    <a href="act01.html" >組織章程</a>
                </li>
                <li>
                    <a href="https://sites.google.com/stu.nknush.kh.edu.tw/ashssa/mac" target="_blank">本會官網</a>
                </li>
            </ul>
        </nav> -->
<!-- 
        <style>
            /* 導覽列連結懸停效果 */
            nav ul li a:hover, nav ul li a:focus {
                background-color: #e9ecef;
                color: #68605c;
            }
        </style> -->
    </div>

    <main>
    </main>

    </body>
</html>
