/* 01-layout：主要版面配置 */

/* --- 主要內容區域 --- */
.main-content {
    flex-grow: 1; /* 讓 main 填滿 header 和 footer 之間的剩餘空間 */
    padding: 2rem 1.5rem; /* 上下邊距 2rem，左右 1.5rem */
    max-width: 900px; /* 限制內容最大寬度，方便閱讀 */
    width: 90%; /* 在較小螢幕上佔用 90% 寬度 */
    margin: 2rem auto; /* 上下邊距 2rem，左右自動 (實現水平置中) */
    /* margin-top: 6rem; */
    /* background-color: #ffffff; 內容區塊白色背景 */
    border-radius: 8px; /* 圓角 */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 細緻的陰影 */
    @apply mt-24 print:mt-0 ;
}
.main-content hr {
    display: block;
    margin: 1rem 0;
    border-style: inset;
    size: 4px;
    /* color: var(--text-color); */
}
.page-title {
    color: var(--color-primary); 
    /* border-bottom: 3px solid var(--color-primary); */
    /* padding-left: 0.8rem; 
    padding-right: 0.8rem;  */
    padding-bottom: 0.6rem;
    margin-top: 0; /* 移除預設的上邊距 */
    /* margin-bottom: 1.5rem; */
    font-weight: 700; /* 標題加粗 */
    @apply text-2xl text-primary tracking-wide px-0 md:px-3; /* 使用 Tailwind CSS 的文字大小 */
}
.page-subtitle {
    /* color: #555; */
    font-size: 1.3rem;
    font-weight: 600;
    /* border-bottom: 2px solid #555; */
    padding-bottom: 0.2rem;
    margin-top: 2.5rem;
    margin-bottom: 0.6rem;
    font-weight: 500;
    /* border-left: 4px solid var(--color-primary	); 左側裝飾線 */
    /* padding-left: 0.8rem; */ 
}

/* --- 開新視窗連結之偽元素 --- */
a[target="_blank"]::after {
    content: "\e89e"; /* 新視窗開啟網站符號 */
    font-family: 'Material Symbols Outlined'; /* Google Material Symbols */
    font-weight: normal; 
    font-style: normal; 
    font-size: 1.2rem; /* 調整圖標大小，使其與文字協調 */
    line-height: 0rem; /* 使按鈕文字不改變 */
    margin-left: 0.1em; /* 與文字的間距 */
    vertical-align: middle; /* middle: 垂直對齊 / super: 稍微抬高位置 */
    /* color: inherit; 圖標顏色 */
    font-variation-settings:
        'FILL' 0,
        'wght' 350,
        'GRAD' 0,
        'opsz' 20;
    /* font-size: inherit; */
    }